.block-title {
  @extend .h5;
  margin-top: 0;
}

.block-title__main {
  font-weight: bold;
  font-variant: small-caps;
  text-transform: lowercase;
}

.block-title__tools {
  float: right;
  font-size: 1.2rem;
}
