body.with-fixed {

  & > .container {
    margin-top: 0;
  }
}

.messages-container .navbar-fixed-top {
  border-bottom: 1px solid #DDD;
  margin-top: 4.2rem;
  z-index: 20;
}

.vertical-list-item .pull-left,
.messages-head .pull-left {
  margin-right: 0.75rem;
}

.vertical-list {
  @extend .list-group;
  border-radius: 0;
  box-shadow: none;
  position: relative;
  z-index: 100;
}

.vertical-list-item {
  @extend .list-group-item;
  &:first-child,
  &:last-child {
    border-radius: 0;
  }
}

.vertical-list-item__header--small {
  @extend .h6;
  margin: 0.5rem 0 0;
}

.vertical-list-item__header-detail {
  display: block;
  font-size: 90%;
  padding-top: 0.5rem;
}

.messages-container {
  padding-bottom: 6rem;
}

.messages-head {
  @extend .clearfix;
  background-color: #E9EAED;
  border-bottom: 1px solid #DDD;
  padding: 0.5rem 0;
  position: fixed;
  z-index: 100;
}

.messages {
  border: 1px solid #DDD;
  border-top: none;
  background-color: #fff;
  padding: 6rem 1rem 1rem 1rem;
}

.messages .media-body {
  min-width: 100%;
}

.messages .message__body {
  clear: both;
}

.answer-container {
  box-shadow: none;
  background-color: transparent;
  z-index: 10;
}

.answer {
  border-top: 1px solid #DDD;
  background-color: #E9EAED;
  padding: 1rem;
}

.answer .form-group {
  margin-bottom: 0;
}

textarea.answer-zone {
  @extend .form-control;
  height: 4rem;
}

.messages .media > .pull-right {
  margin-top: -2px;
}

@media screen and (min-width: 992px) {
  .vertical-list {
    overflow: auto;
  }

  .messages-container {
    padding-bottom: 12rem;
  }

  .messages {
    margin-top: 0;
  }

  .answer {
    padding: 0 1rem;
  }

  .answer .form-group {
    padding: 1rem 0;
  }

  textarea.answer-zone {
    height: 8rem;
  }
}
