$images-path: '../../img';
$light-font-color: #FFFFFF;

// Core variables and mixins
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

.alert {
  margin-bottom: 0;

  .close {
    display: none;
  }
}

main {
  background-color: #F1F4F9;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.body--no-bg main {
  background-color: transparent;
}

.navbar__brand {
  display: inline-block;
}

.navbar__brand img {
  margin: 8px 0 5px;
}

.navbar__links {
  float: right;
  padding: 3px 0;
}

.navbar__links a {
  display: inline-block;
  margin-left: 1rem;
}

.navbar__cta {
  color: #f5a623;
  background: url('img/demo-crown-orange.png') no-repeat left center / 1.6rem;
  padding-left: 2rem;
}

.navbar__cta:hover, .navbar__cta:focus {
  color: #f5a623;
}

@media screen and (min-width: 768px) {

  .navbar__brand img {
    margin: 10px 0;
  }
}

.cta__container--center {
  text-align: center;
}
.cta__btn {
  background: #f5a623 url('#{$images-path}/demo-crown-white.png') no-repeat 1rem center / 1.75rem;
  color: #FFF;
  border: none;
  display: inline-block;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 3.5rem;
}
.cta__btn:hover, .cta__btn:focus {
  background-color: #f09600;
  color: #FFF;
}

.welcome {
  align-items: center;
  background: #FFFFFF no-repeat center center / cover;
  display: flex;
  min-height: 43rem;
  position: relative;
  text-align: center;

  @media (min-width: $screen-sm-min) {
    min-height: 48rem;
  }
}

.welcome:after {
  background-color: rgba(0, 0, 0, 0.4);
  content: '\A';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.welcome__search {
  max-width: 750px;
  padding-bottom: 10rem;
  position: relative;
  width: 90%;
  z-index: 100;

  @media (min-width: $screen-sm-min) {
    padding-bottom: 6rem;
  }
}

.search__heading {
  color: $light-font-color;
  font-size: 1.8rem;
  margin-bottom: 3rem;

  @media (min-width: $screen-sm-min) {
    font-size: 6rem;
    margin-bottom: 6rem;
  }
}

.search__image {
  @media (max-width: $screen-sm-min) {
    height: 5rem;
  }
  @media (min-width: $screen-sm-min) {
    margin-bottom: 2rem;
  }
}

.featured {
  bottom: 2rem;
  color: rgba(255, 255, 255, 0.9);
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;

  @media (min-width: $screen-sm-min) {
    left: auto;
    right: 4rem;
    text-align: right;
  }
  z-index: 100;
}

.featured__heading {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0;
  transition: color 0.2s;
}

.featured__heading:hover,
.featured__heading:focus {
  color: #FFFFFF;
  text-decoration: none;
}

.featured__description {
  font-size: 1.2rem;
}

.featured__link {
  color: rgba(255, 255, 255, 0.85);
  text-decoration: underline;
  transition: color 0.2s;
}

.featured__link:hover,
.featured__link:focus {
  color: #FFFFFF;
}

.featured__price {
  color: #FFFFFF;
  font-size: 1.6rem;
}

.featured .user {
  margin: 0.5rem 0 0 1rem;

  @media (min-width: $screen-sm-min) {
    float: right;
  }
}

.featured__content {
  @media (min-width: $screen-sm-min) {
    float: right;
  }
}

.featured .user__image {
  border-radius: 2px;
}

.trending-categories {
  background: #A1E9D2;
  background: linear-gradient(to right, #A1E9D2 50%, #2EA8E8 50%);
}

.categories {
  list-style: none;
  margin: 0;
  padding: 0;
}

.categories__item {
  display: block;
  float: left;
  transition: background 0.2s;
  width: 50%;

  @media (min-width: $screen-sm-min) {
    width: 25%;
  }
}

.category {
  background: no-repeat center 3rem / auto 20px;
  color: $light-font-color;
  display: block;
  text-align: center;
  padding: 6rem 0 2rem;
  transition: background-color 0.2s;

  &:hover, &:focus {
    color: $light-font-color;
    text-decoration: none;
  }
}

.category__heading {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.category__details {
  font-size: 1.2rem;
}

.category--first {
  background-color: #90DAC2;
  background-image: url('#{$images-path}/auto.svg');

  &:hover, &:focus {
    background-color: #88CBB5;
  }
}

.category--second {
  background-color: #46CDCF;
  background-image: url('#{$images-path}/gamepad.svg');

  &:hover, &:focus {
    background-color: #39C0C2;
  }
}

.category--third {
  background-color: #3D84A8;
  background-image: url('#{$images-path}/dress.svg');

  &:hover, &:focus {
    background-color: #317192;
  }
}

.category--fourth {
  background-color: #2499D6;
  background-image: url('#{$images-path}/skateboard.svg');

  &:hover, &:focus {
    background-color: #1384BF;
  }
}

.last-call {
  background-color: #2499D6;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  text-align: center;
}

.last-call a {
  color: #FFF;
  display: inline-block;
  margin: 0 1rem;
}

.keypoints {
  background: #FFFFFF;
  box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.10);
  padding: 4rem 0;
}

.keypoints__container {
  display: flex;
}

.keypoint {
  padding: 0 2rem;
  width: 50%;
}

.keypoint__image {
  border-radius: 100%;
  display: block;
  margin: 0 auto;
  width: 60px;
}

.keypoint__heading {
  font-size: 1.8rem;
  text-align: center;
}

.keypoint__cta {
  margin: 2rem 0 0;
  text-align: center;
}

.keypoint__cta .cta__btn {
  margin: 0;
}

.best-of {
  padding-top: 1rem;

  @media (min-width: $screen-sm-min) {
    padding-top: 2rem;
  }
}

.best-of__header {
  text-align: center;
}

.best-of__heading {
  color: #445868;
  font-size: 1.8rem;
  margin-bottom: 3rem;
}

.best-of__list {
  list-style: none;
  padding: 0;
  overflow: hidden;
}

.best-of__list-item {
  float: left;
  margin-bottom: 2rem;

  @media (min-width: $screen-sm-min) {
    padding: 0 1rem;
    width: 33%;
  }
}

.best-of__list-item--small {
  padding: 0 1rem;
  width: 50%;

  @media (min-width: $screen-sm-min) {
    width: 25%;
  }
}

.best-of__list-item--small .avatar {
  @media (max-width: $screen-sm-min) {
    margin-right: 0.5rem;
  }
}

.best-of__list-item--small .card__content {
  @media (max-width: $screen-sm-min) {
    padding-left: 0.5rem;
  }
}

.best-of__list-item--small .card__title {
  @media (max-width: $screen-sm-min) {
    font-size: 1.2rem;
    padding-left: 0;
  }
}
