# OS
.DS_Store
Thumbs.db
Homestead.json
Homestead.yaml

# Packages
vendor/
node_modules/

# Laravel 5 & Lumen
.env
/storage/debugbar
/public/storage
/public/images
/public/build
/public/css
/public/js

# Tooling
.idea/
_ide_helper.php
*.sublime-*
