@import "style";
@import "theme";
// @import "bootstrap";

@import "variables"; // include variables after bootstrap since they have some names in common

// @import "partials/buttons";
@import "partials/navigation";
@import "partials/ad";
@import "partials/buttons";
@import "partials/box";
@import "partials/hero";
@import "partials/activity";
@import "partials/dropzone";
@import "partials/form";
@import "partials/user";
@import "partials/card";

@import "pages/profile";
@import "pages/dashboard";
@import "pages/messages";
@import "pages/choose-buyer";
@import "pages/login";

@import "responsive";
