@media screen and (max-width: 768px) {
  body > .container {
    margin-top: 2rem;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 768px) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
  }
}
