@media screen and (max-width: 768px) {
  body > .container {
    margin-top: 2rem;
  }

  .profile .dropdown-toggle {
    display: block;
  }

  .dashboard-flow .slider {
    height: 250px !important;
  }

  .activity .has-media-target .media-heading {margin-right: 0;}

  .activity .prize {bottom: 8rem;}

  .activity .user {
    text-align: center;
  }

  .activity .user .pull-right {
    margin-left: 0;
  }

  .account-type {
      bottom: 0.75rem;
  }

  .activity .bordered {
    border-top-color: #FFF;
  }

  .activity-sneef {margin-top: 4rem;}

  .activity-author {
    border-top: 1px solid #E5E6E9;
    display: inline-block;
    float: none !important;
    margin-left: 0;
  }

  .activity-details {
    background-color: #fff;
    margin: -27px -15px 0;
    padding: 3rem 0 1rem;
  }

  .ad-meta li {
    display: block;
  }

  .btn-scrolling {
    bottom: 1.5rem;
    left: 5%;
    position: fixed;
    right: 5%;
    width: auto;
    z-index: 1000;
  }

  .ad-short {
    .media-left {
      width: 50%;
    }
    .media-right {
      padding-left: 0;
      padding-right: 10px;
      width: 50%;

      &:before {
        display: none;
      }
    }

    .btn-block {
      width: 100%;
    }

    .media-heading.visible-xs {
      margin: 1rem 3rem 0.75rem 0.5rem;
    }

    .prize {
      bottom: 0.5rem;
      top: auto;
    }
  }

  .profile-picture {
    img {
      height: 10rem;
      width: 10rem;
    }
  }

  .discussion-select {
    margin-top: 1rem;
  }

  .tab-pane.active {
    .discussion {
      border-top: 1px solid #E5E6E9;
      padding-bottom: 17.5rem;
    }
  }

  #ads .media-list {
    margin-top: 2.5rem;
  }

  .messages .reply-form {
    background: #FFF;
    border-top: 1px solid #E5E6E9;
    border-right: 1px solid #DDD;
    border-left: 1px solid #DDD;
    box-shadow: 0px -2px 6px -4px rgba(0, 0, 0, 0.2);
    bottom: 0px;
    left: 0;
    position: fixed;
    right: 0;
    padding: 1rem 1.5rem 0;

    hr {
      display: none;
    }

    textarea {
      height: 5rem;
    }
  }

  .ajax-message .form-group {
    margin-bottom: 0;
  }

  /// Profiles
  .profile {
    min-height: auto;
  }
  .profile__image {
    height: auto;
    width: 50px;
  }

  .profile__rank {
    font-size: 1rem;
  }

  .profile-details__title {
    font-size: 1.6rem;
  }

  .profile-nav {
    margin-top: 0;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 768px) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
  }
}
