$font-family-sans-serif: "Lato", Helvetica, Arial, sans-serif;

$gray-darker:     #E9EAED;
$gray-dark:       #E9EAED;
$gray-base:       #E9EAED;
$gray-light:      lighten($gray-base, 3%);
$gray-lighter:    lighten($gray-base, 6%);
$gold-color:      #f09600;
$gold-darker-color:      #8A5600;
/*
$gray
$brand-primary
$brand-success
$brand-info
$brand-warning
$brand-danger
*/
