.box {
  background: #FFFFFF;
  box-shadow: 0px 2px 10px 0px rgba(56,75,88,0.15);
  border-radius: 2px;
  padding: 2.5rem;
  margin-bottom: 2rem;
}

.box--narrow {
  padding: 2rem;
}

.box__heading {
  border-bottom: 1px solid #d8d8d8;
  color: #454545;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
  padding-bottom: 1.3rem;
}

.box__content {
  margin-top: 2rem;
}

.box--no-space {
  padding: 0;
}

.box--jumbo {
  font-size: 4rem;
  font-weight: bold;
}

.box__title {
  @extend .title-narrow;
  color: #7E8FAA;
  font-size: 1.5rem;
  font-weight: normal;
}

.box__separator {
  background: #CFDAE3;
  border: none;
  height: 1px;
}

.box__link {
  text-decoration: underline;
}
