.btn-primary2 {
  background: #1F97D5;
  border: none;
  border-radius: 2px;
  font-variant: small-caps;
  font-weight: 300;
  text-shadow: none;
}

.btn-default2 {
  background: #7E8FAA;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-variant: small-caps;
  font-weight: 300;
  text-shadow: none;
}

.btn-danger2 {
  background: #F24C60;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-variant: small-caps;
  font-weight: 300;
  text-shadow: none;
}