/****************************
/*        Card
****************************/
.box__panel {
  background: #FFFFFF;
  box-shadow: 0px 2px 10px 0px rgba(56,75,88,0.15);
  border-radius: 2px;
  margin-bottom: 2rem;
}

.box__panel--padding {
  padding: 2rem;
}

.card__box {
  @extend .box__panel;
}

.card__box__footer {
  position: relative;
  min-height: 70px;
  margin: 10px;
  margin-top: 10px;
  overflow: hidden;
}

.card__box__footer__content {
  position: relative;
}

.card__box__avatar {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 60px;
  height: 60px;
  overflow: hidden;
}

.card__box__avatar--circle {
  border-radius: 50%;
}

.card__box__avatar__img {
  width: 100%;
  height: 100%;
}

.card__box__description {
  color: #595959;
  font-size: 1.2rem;
  margin-left: 7rem;
}

.card__box__description__title {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #454545;
  line-height: 1.31;
}
.card__box__preview {
  position: relative;
  width: 100%;
}
.card__box__preview__img {
  position: relative;
  height: auto;
  width: 100%;
}

.card__box__preview__item {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.card__box__description__marker {
  position: absolute;
  width: 10px;
  left: 0;
  bottom: 4px
}

.card__box__description__location {
  padding-left: 10px;
}
