.card {
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0px 2px 10px 0px rgba(56, 75, 88, 0.15);
  display: block;
  overflow: hidden;
  margin: 1rem 0;
  position: relative;

  &:hover, &:focus {
    .card__gallery::after {
      opacity: 0.6;
    }

    .card__title--small {
      white-space: inherit;
    }
  }
}

.card__gallery {
  &::after {
    box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.5);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.3s;
    width: 100%;
    z-index: 2;
  }
}

.card__image {
}

.card__title {
  background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  bottom: 0;
  color: #FFF;
  display: block;
  left: 0;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1rem;
  position: absolute;
  width: 100%;
  z-index: 3;
}

.card__title--small {
  font-size: 1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card__price {
  background-color: #FF3D7B;
  font-size: 1.6rem;
  padding: 0.25rem 0.5rem;
}
