/****************************
/*     Footer
****************************/
.footer {
  min-height: 172px;
  padding-top: 45px;
  background-color: #00324d;
}

.footer__logo {
  height: 30px;
  width: auto;
}
.footer__list {
  list-style: none;

  li a {
    text-decoration: none;
    height: 15px;
    opacity: 0.5;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 2.7px;
    color: #ffffff;
    text-transform: uppercase;
  }
}