.navbar-sneefr {
  background: #FFF;
  border: none;
  box-shadow: none;

  .navbar-header {
    padding: 1rem 0;
  }

  .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-nav {
    & > li > a {
      color: #595959;
      font-weight: 600;
    }

    & > .active {

      & > a, & > a:focus, & > a:hover {
        background: none;
        box-shadow: none;
      }

      &::after {
        border: 0 solid #ff316e;
        border-left-width: 5px;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        z-index: 100;
      }
    }
  }

  .navbar-toggle {
    border: none;

    &:hover, &:focus, &:active {
      background-color: transparent;
    }

    .fa {
      color: #ff316e;
      position: relative;
      top: -4px;
    }

    .icon-bar {
      background-color: #ff316e;
    }
  }

  .navbar-form {
    border: none;
  }

  .form-control {
    height: auto;
    margin-bottom: 0.6rem;
    padding: 1rem;
  }

  input, .btn, .btn-link {
    border-radius: 2px;
  }

  .navbar__register {
    color: #ff316e;
    border: 1px solid #ff316e;
  }

  .has-no-mb {
    margin-bottom: 0;
  }
}

.navbar-search {
  border-bottom: 1px solid #f2f2f2;
  padding: 1rem 0;

  .navbar-brand {
    padding-top: 0.3rem;
  }

  .navbar-header {
    padding: 0;
  }

  .navbar-form {
    width: 350px;

    @media screen and (min-width: $screen-md-min) {
      width: 550px;
    }
    
    @media screen and (min-width: $screen-lg-min) {
      width: 700px;
    }
  }

  .form-control {
    width: 100%;
  }

  .navbar-nav > li > .btn-pink {
    border: 1px solid #ff1b54;
    color: #ff1b54;

    &:hover, &:focus {
      background-color: #ff1b54;
      color: #FFF;
    }
  }

  .btn-sky-blue {
    height: auto;
    padding: 1rem 2rem;
    width: auto;
  }
}

.navbar-menu {

  .navbar-nav {
    & > li > a {
      opacity: 0.4;
      transition: opacity 0.1s;

      &:hover, &:active, &:focus {
        opacity: 1;
      }
    }

    & > .active {
      & > a, & > a:focus, & > a:hover {
        opacity: 1;
      }
    }
  }

  .btn-sky-blue {
    height: 90px;
    width: 100%;
  }
}

@media screen and (min-width: $screen-sm-min) {
  .navbar-sneefr {
    .navbar-nav {
      & > .active {
        &::after {
          border-left: none;
          border-bottom-width: 4px;
          bottom: -4px;
          height: inherit;
          left: auto;
          top: auto;
          width: 100%;
        }
      }
    }
  }
}
